@import "../../styles/variables.scss";
@import "../../styles/partials.scss";

.App {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
