@import "../styles/variables";
@import "../styles/partials";

.App {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  font-size: 28px;
  font-weight:  $fw-bold;

  a {
    color: $default-text;
    text-decoration: none;

    &.active {
      color: $red-text;
    }

    &:hover {
      text-decoration: none;
      color: rgba($red-text, .75);
    }
  }
}
